<div class="container">
  <div class="row mt-3">
    <div class="col-2">
      <button (click)="onCancelClick()" type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="col-8">
      <div>
        <p class="fs-3 text-center" id="title">Biztos vagy benne?</p>
      </div>
    </div>
  </div>


  <div mat-dialog-content class="container d-flex justify-content-center">
    <p>Biztosan törölni akarod ezt: {{subject}}? Ez a művelet nem visszafordítható.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6">
        <button (click)="onCancelClick()" type="button" class="btn btn-secondary w-100">Mégse</button>
      </div>
      <div class="col-6">
        <button (click)="onConfirmClick()" type="button" class="btn btn-danger w-100">Törlés</button>
      </div>
    </div>
  </div>
  <p></p>
</div>
