<div class="container-fluid">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-10 col-lg-10 card">

        <h2 id="mainTitle">Own Products</h2>

        <div class="row justify-content-center">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-dark" (click)="addNewProduct()" >New</button>
                <button type="button" class="btn btn-outline-dark" (click)="editProduct()" [disabled]="selectedProductID === undefined">Edit</button>
                <button type="button" class="btn btn-outline-dark" (click)="deleteProduct()" [disabled]="selectedProductID === undefined">Delete</button>
                <button type="button" class="btn btn-outline-dark" (click)="productInfo()" [disabled]="selectedProductID === undefined">Info</button>
            </div>
        </div>

        <!-- Products Grid -->
        <div class="row product-grid">
          <div
            style="margin: auto;"
            class="col-12 col-md-3 product-box"
            *ngFor="let product of paginatedProducts">
            <div class="product-card" [ngClass]="{'selected': product.id === selectedProductID}" (click)="selectedProductID = product.id">
              <!-- TODO product images -->
              <img [src]="product.imageUrl" alt="Product Image" class="product-image">
              <h4 class="product-name">{{ product.name }}</h4>
              <p class="product-price">{{ product.price }}Ft / {{product.unit}}</p>
            </div>
          </div>
        </div>

        <!-- Pagination Controls -->
        <div class="pagination-controls mt-4">
          <button
            class="btn btn-outline-secondary"
            [disabled]="currentPage === 1"
            (click)="changePage(currentPage - 1)">
            Previous
          </button>
          <span class="page-indicator">Page {{ currentPage }} of {{ totalPages }}</span>
          <button
            class="btn btn-outline-secondary"
            [disabled]="currentPage === totalPages"
            (click)="changePage(currentPage + 1)">
            Next
          </button>
        </div>
      </div>
    </div>
</div>
