<div class="container-fluid">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-10 col-lg-10 card">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <h2 id="mainTitle">Saját termékek</h2>
          </div>
          <div class="col-1"></div>
          <div class="col-1 text-end">
            <button (click)="openFilter()" type="button" class="btn btn-secondary w-100 h-75">
              <mat-icon>filter_list</mat-icon>
            </button>
          </div>
          <div class="col-2">
            <div>
              <form [formGroup]="form" style="height: 100%;">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Keresés</mat-label>
                    <input (input)="onSearchChange($event)" formControlName="product" matInput>
                  </mat-form-field>
              </form>
            </div>
          </div>
        </div>


        <div class="row justify-content-center">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-dark" (click)="addNewProduct()" >Új</button>
                <button type="button" class="btn btn-outline-dark" (click)="editProduct()" [disabled]="selectedProductID === undefined">Szerkesztés</button>
                <button type="button" class="btn btn-outline-dark" (click)="deleteProduct()" [disabled]="selectedProductID === undefined">Törlés</button>
                <button type="button" class="btn btn-outline-dark" (click)="productInfo()" [disabled]="selectedProductID === undefined">Info</button>
            </div>
        </div>

        <!-- Products Grid -->
        <div class="row product-grid">
          <div
            style="margin: auto;"
            class="col-12 col-md-3 product-box"
            *ngFor="let product of paginatedProducts">
            <div class="product-card" [ngClass]="{'selected': product.id === selectedProductID}" (click)="selectedProductID = product.id">
              <!-- TODO product images -->
              <img [src]="product.imageUrl" alt="Product Image" class="product-image">
              <h4 class="product-name">{{ product.name }}</h4>
              <p class="product-price">{{ product.price }}Ft / {{product.unit}}</p>
            </div>
          </div>
        </div>

        <!-- Pagination Controls -->
        <div class="pagination-controls mt-4">
          <button
            class="btn btn-outline-secondary"
            [disabled]="currentPage === 1"
            (click)="changePage(currentPage - 1)">
            Previous
          </button>
          <span class="page-indicator">Oldal {{ currentPage }} / {{ totalPages }}</span>
          <button
            class="btn btn-outline-secondary"
            [disabled]="currentPage === totalPages"
            (click)="changePage(currentPage + 1)">
            Next
          </button>
        </div>
      </div>
    </div>
</div>
