<div class="container-fluid">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-10 col-lg-10 card">

        <h2 id="mainTitle">Own Products</h2>

        <div class="row justify-content-center">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-dark" (click)="addNewProduct()" >New</button>
                <button type="button" class="btn btn-outline-dark">Edit</button>
                <button type="button" class="btn btn-outline-dark">Delete</button>
                <button type="button" class="btn btn-outline-dark">Info</button>
            </div>
        </div>
      </div>
    </div>
</div>
