<div class="container-fluid">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 card">
        <div class="profile-section">
          <!-- Profile Picture -->
           <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center">
              <img src="/assets/profile.jpg" alt="Profile Picture" class="profile-picture mb-3">
            </div>
            <div class="col-4 d-flex justify-content-end align-items-start">
              <button *ngIf="isProducer" (click)="editProfile()" class="btn btn-primary">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
           </div>
  
          <!-- Producer Name -->
          <h2 id="mainTitle">{{producerName}}</h2>
          <p *ngIf="subtitle; else NoSubtitle" id="subTitle">{{subtitle}}</p>
          <ng-template #NoSubtitle>
            <div class="alert alert-warning" role="alert">
              Nincs elérhető alcím.
            </div>
          </ng-template>
  
          <!-- Introduction Section -->
          <div class="introduction mt-4">
            <h3>Rólam</h3>
            <div *ngIf="description !== '';else NoDescription">
              <p>
                {{description}}
              </p>
            </div>
            <ng-template #NoDescription>
              <div class="alert alert-warning" role="alert">
                Nincs elérhető leírás.
              </div>
            </ng-template>
          </div>
  
          <!-- Additional Images Section -->
          <div class="additional-pictures mt-4">
            <h3>Galéria</h3>
            <div class="row">
              <div class="col-4">
                <img src="/assets/farm1.jpg" alt="Product Image 1" class="img-thumbnail">
              </div>
              <div class="col-4">
                <img src="/assets/farm2.jpg" alt="Product Image 2" class="img-thumbnail">
              </div>
              <div class="col-4">
                <img src="/assets/farm3.jpg" alt="Product Image 3" class="img-thumbnail">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  