<div class="container">
  <div class="row mt-3">
    <div class="col-2">
      <button (click)="close()" type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="col-8">
      <div>
        <p class="fs-3 text-center" id="title">Adj hozzá új receptet!</p>
      </div>
    </div>
  </div>


  <div mat-dialog-content class="container d-flex justify-content-center">
    <form [formGroup]="form">
      <div class="row text-center">
        <div class="col-12 text-center mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Recept neve</mat-label>
            <input matInput formControlName="title" type="text">
            <mat-hint>5 és 30 karakter között</mat-hint>
            <mat-error>
              <span>
                A receptnévnek 5 és 30 karakter közti hosszúnak kell lennie
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 text-center mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Leírás</mat-label>
            <textarea matInput formControlName="description" type="text"></textarea>
            <mat-hint>10 és 100 karakter között</mat-hint>
            <mat-error>
              <span>
                A leírásnak 10 és 100 karakter közti hosszúnak kell lennie
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="recipe" class="col-12 text-center mb-3">
          <img [src]="recipe.imageUrl" alt="Recipe Image" class="recipe-image">
        </div>

        <div class="col-12 text-center mb-3">
          <label for="fileInput">Kép</label>
          <input id="fileInput" type="file" (change)="onFileSelected($event)">
        </div>

        <div class="col-12 text-center mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Kategória</mat-label>
            <mat-select formControlName="categoryId">
              <mat-option *ngFor="let category of categories" [value]="category.id">
                {{category.name}}
              </mat-option>
            </mat-select>
            <mat-error>
              <span>
                Válassz egy kategóriát
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 text-center mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Lépések</mat-label>
            <textarea matInput formControlName="steps" type="text"></textarea>
            <mat-hint>10 és 1000 karakter között</mat-hint>
            <mat-error>
              <span>
                A lépéseknek 10 és 1000 karakter közti hosszúnak kell lennie
              </span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <div class="container">
    <div class="text-center mb-4">
      <button class="btn btn-dark w-100" (click)="onAddRecipeClick()" [disabled]="!form.valid || disabledButton">
        <div class="row">
          <div *ngIf="disabledButton" class="col-1">
            <span id="loginButton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </div>
          <div *ngIf="!disabledButton" class="col-1 d-flex align-items-center p-0 justify-content-center">
            <mat-icon>add_box</mat-icon>
          </div>
          <div class="col-10 text-center">
            {{buttonText}}
          </div>
        </div>
      </button>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mb-3" role="alert">
      {{errorMessage}}
    </div>

    <div *ngIf="success" class="alert alert-success" role="alert">
      Sikeresen {{recipe ? "frissített" : "hozzáadott" }} termék!
    </div>
  </div>
</div>
