button div {
  color: white;
}

div {
  color: rgb(70, 70, 70);
  font-stretch: 100%;
}

#title {
  font-weight: 700;
}

mat-form-field {
  width: 400px;
}

.recipe-image {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
