<div class="container-fluid">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-10 col-lg-8 card">
      <!-- Orders Title -->
      <h2 id="mainTitle">Megrendelések</h2>

      <!-- Orders List -->
      <div *ngIf="dataFromService.length > 0; else noOrders" class="orders-list">
        <div class="order-card mb-4" *ngFor="let order of dataFromService">
          <!-- Order Header -->
          <div class="order-header">
            <p><strong>Rendelés ID:</strong> {{ order.id }}</p>
            <p><strong>Dátum:</strong> {{ order.receivedAt | date: 'yyyy.MM.dd. HH:mm' }}</p>
            <p><strong>Elküldve:</strong> {{ (order.sentAt | date: 'yyyy.MM.dd. HH:mm') || 'NaN'}} </p>
            <p><strong>Fogyasztó név:</strong> {{ order.customer.username }}</p>
            <p><strong>Fogyasztó email:</strong> {{ order.customer.email }}</p>
          </div>

          <!-- Items Table -->
          <div class="order-items">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Terméknév</th>
                  <th>Mennyiség</th>
                  <th>Ár</th>
                  <th>Részösszeg</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of order.products">
                  <td>{{ item.product.name }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.product.price }}Ft</td>
                  <td>{{ item.totalPrice }}Ft</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Order Summary -->
          <div class="order-summary">
            <p><strong>Teljes ár:</strong>{{ order.totalPrice }}Ft</p>
            <p><strong>Jutalék:</strong> 500Ft</p>
            <p><strong>Összesen:</strong>{{ order.totalPrice - 500 }}Ft</p>
          </div>

          <!-- Send Order Button -->
          <div class="text-end">
            <button [disabled]="order.isSent" class="btn btn-success" (click)="markAsSent(order.id)">Megjelölöm elküldöttként</button>
          </div>
        </div>
      </div>

      <!-- No Orders Message -->
      <ng-template #noOrders>
        <p class="empty-message">Nincsen új rendelés. Nézz vissza később.</p>
      </ng-template>
    </div>
  </div>
</div>
