<div class="container-fluid">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-10 col-lg-8 card">
      <!-- Orders Title -->
      <h2 id="mainTitle">Megrendelések</h2>

      <!-- Orders List -->
      <div *ngIf="dataFromService.length > 0; else noOrders" class="orders-list">
        <div class="order-card mb-4" *ngFor="let order of dataFromService">
          <!-- Order Header -->
          <div class="order-header">
            <p><strong>Order ID:</strong> {{ order.id }}</p>
            <p><strong>Date:</strong> {{ order.receivedAt | date: 'yyyy.MM.dd. hh:mm' }}</p>
            <p><strong>Send:</strong> {{ (order.sentAt | date: 'yyyy.MM.dd. hh:mm') || 'NaN'}} </p>
            <p><strong>User:</strong> {{ order.customer.username }}</p>
            <p><strong>Email:</strong> {{ order.customer.email }}</p>
          </div>

          <!-- Items Table -->
          <div class="order-items">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Item Name</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Subtotal</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of order.products">
                  <td>{{ item.product.name }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>${{ item.product.price }}</td>
                  <td>${{ item.totalPrice }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Order Summary -->
          <div class="order-summary">
            <p><strong>Total Price:</strong> ${{ order.totalPrice }}</p>
            <p><strong>Commission:</strong> $5.00</p>
            <p><strong>Net Total:</strong> ${{ order.totalPrice - 5 }}</p>
          </div>

          <!-- Send Order Button -->
          <div class="text-end">
            <button [disabled]="order.isSent" class="btn btn-success" (click)="markAsSent(order.id)">Mark as Sent</button>
          </div>
        </div>
      </div>

      <!-- No Orders Message -->
      <ng-template #noOrders>
        <p class="empty-message">No orders available. Check back later.</p>
      </ng-template>
    </div>
  </div>
</div>
