<div class="container-fluid">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-10 col-lg-10 card">
      <!-- Products Title -->
       <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <h2 class="pt-2" id="mainTitle">Products</h2>
        </div>
        <div class="col-1"></div>
        <div class="col-1 text-end">
          <button (click)="openFilter()" type="button" class="btn btn-secondary w-100 h-75">
            <mat-icon>filter_list</mat-icon>
          </button>
        </div>
        <div class="col-2">
          <div>
            <form [formGroup]="form" style="height: 100%;">
              <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Search</mat-label>
                  <input formControlName="product" matInput>
                </mat-form-field>
            </form>
          </div>
        </div>
       </div>

      <!-- Products Grid -->
      <div class="row product-grid">

        <div 
          style="margin: auto;"
          class="col-12 col-md-3 product-box" 
          *ngFor="let product of filteredProducts | async" 
          (click)="redirectToProduct(product.id)">
          <div class="product-card">
            <img [src]="product.imageUrl" alt="Product Image" class="product-image">
            <h4 class="product-name">{{ product.name }}</h4>
            <p class="product-price">{{ product.price }}Ft / {{product.unit}}</p>
            <p class="product-owner">Owner: <b>{{ product.user.fullName }}</b></p>
          </div>
        </div>
      </div>

      <!-- Pagination Controls -->
      <div class="pagination-controls mt-4">
        <button 
          class="btn btn-outline-secondary" 
          [disabled]="currentPage === 1" 
          (click)="changePage(currentPage - 1)">
          Previous
        </button>
        <span class="page-indicator">Page {{ currentPage }} of {{ totalPages }}</span>
        <button 
          class="btn btn-outline-secondary" 
          [disabled]="currentPage === totalPages" 
          (click)="changePage(currentPage + 1)">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
