<div class="container-fluid">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-8 col-lg-6 card">
      <div *ngIf="product !== undefined; else undefinedProduct">
        <!-- Product Image TODO from product -->
        <div class="text-center">
          <img [src]="product.imageUrl" alt="Product Image" class="product-image mb-3">
        </div>

        <!-- Product Details -->
        <div class="product-details">
          <h2 id="mainTitle">{{ product.name }}</h2>
          <p id="subTitle">Ár: ${{ product.price }}</p>
        </div>

        <!-- Add to Basket -->
        <div class="add-to-basket mt-4 d-flex align-items-center justify-content-center">
          <label for="quantity" class="form-label">Quantity:</label>
          <input (change)="onQuantityChange($event)" id="quantity" type="number" class="form-control d-inline-block" style="width: 80px;" min="1" [(value)]="quantity">
          <button (click)="addToBasket()" class="btn btn-primary ms-2">Add to Basket</button>
        </div>

        <div class="reviews mt-5">
          <h3>Értékelések</h3>
          <div *ngIf="reviews.length > 0; else noReviews">
            <div class="review mt-3" *ngFor="let review of reviews">
              <strong>{{ review.user.username }}</strong>
              <p>"{{ review.description }}"</p>
              <mat-icon *ngFor="let i of [1,2,3,4,5]" class="star">
                {{ i <= review.rating ? 'star' : 'star_border' }}
              </mat-icon>
              <button *ngIf="userId == review.userId" (click)="deleteReview(review.id)" type="button" class="btn btn-danger">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
          <ng-template #noReviews>
            <p class="review mt-3">Ehhez a termékhez még nem érkezett értékelés. Adj hozzá egyet!</p>
          </ng-template>
          <div *ngIf="!userHasReview" class="row mt-3">
            <div class="col-4"></div>
            <button type="button" class="btn btn-secondary col-4" (click)="onAddReview()">
              <mat-icon>add_box</mat-icon>
            </button>
            <div class="col-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #undefinedProduct>
  <p>The product you were looking for does not exist.</p>
</ng-template>
