button div {
  color: white;
}

div {
  color: rgb(70, 70, 70);
  font-stretch: 100%;
}

#title {
  font-weight: 700;
}

mat-form-field {
  width: 400px;
}

.star-rating {
  display: flex;
  gap: 5px;
}

.star {
  cursor: pointer;
  font-size: 24px;
  color: gold;
}
