<div *ngIf="isLogin(); else AfterLogin" class="container-fluid" style="height: 60px;">
  <div class="background row text-center d-flex align-items-center h-100">
  
    <div class="col-1 text-start">
      <img src="assets/logo.jpg" width="60px">
    </div>
    <div class="col-10"></div>
    <div class="col-1 d-flex justify-content-end">
      <button (click)="redirectToSignup()" type="button" class="btn btn-dark">Regisztráció</button>
    </div>

  </div>
</div>

<ng-template #AfterLogin>

  <div *ngIf="isCustomer(); else Producer" class="container-fluid" style="height: 60px;">
      <div class="background row text-center d-flex align-items-center h-100">
        <div class="col-1 text-start">
          <img src="assets/logo.jpg" width="60px">
        </div>
        <div class="col-6 background fs-6">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid background">
              <ul *ngIf="!hidden" class="navbar-nav">
                <li class="nav-item dropdown">
                  <a [routerLink]="['/list']" [ngStyle]="getStyle('list')" class="nav-link" role="button">
                    Webshop
                  </a>
                </li>
    
                <li class="nav-item dropdown">
                  <a [routerLink]="['/recipe']" [ngStyle]="getStyle('recipe')" class="nav-link" role="button">
                    Receptek
                  </a>
                </li>
              </ul>
    
            </div>
          </nav>
        </div>
        <div class="col-3 align-items-center d-flex justify-content-end">
          <span id="welcome">
            Welcome, {{username}}!
          </span>
          <mat-icon>face</mat-icon>
        </div>
        <div class="col-1 d-flex justify-content-end">
          <button (click)="onBasket()" type="button" class="btn btn-secondary">
            <mat-icon>shopping_basket</mat-icon>
          </button>
        </div>
        <div class="col-1 d-flex justify-content-end">
          <button (click)="onLogout()" type="button" class="btn btn-dark">Logout</button>
        </div>
      </div>
    
  </div>

  <ng-template #Producer>

    <div class="container-fluid" style="height: 60px;">
      <div class="background row text-center d-flex align-items-center h-100">
        <div class="col-1 text-start">
          <img src="assets/logo.jpg" width="60px">
        </div>
        <div class="col-6 background fs-6">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid background">
              <ul *ngIf="!hidden" class="navbar-nav">
                <li class="nav-item dropdown">
                  <a [routerLink]="['/own-products']" [ngStyle]="getStyle('own-products')" class="nav-link" role="button">
                    Saját termékek
                  </a>
                </li>
    
                <li class="nav-item dropdown">
                  <a [routerLink]="['/order']" [ngStyle]="getStyle('order')" class="nav-link" role="button">
                    Megrendelések
                  </a>
                </li>
              </ul>
    
            </div>
          </nav>
        </div>
        <div class="col-3 align-items-center d-flex justify-content-end">
          <span id="welcome">
            Üdvözöljük, {{username}}!
          </span>
          <mat-icon>face</mat-icon>
        </div>
        <div class="col-1 d-flex justify-content-end">
          <button (click)="onProfileEdit()" type="button" class="btn btn-secondary">
            <mat-icon>person</mat-icon>
          </button>
        </div>
        <div class="col-1 d-flex justify-content-end">
          <button (click)="onLogout()" type="button" class="btn btn-dark">Kijelentkezés</button>
        </div>
      </div>
    
    </div>

  </ng-template>

</ng-template>