<div class="container">
  <div class="row mt-3">
    <div class="col-2">
      <button (click)="onCancelClick()" type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <div class="col-8">
      <div>
        <p class="fs-3 text-center" id="title">Készítsd el a fiókod!</p>
      </div>
    </div>
  </div>


  <div mat-dialog-content class="container d-flex justify-content-center">
    <form [formGroup]="form">
      <div class="row text-center">
        <div class="col-12 text-center mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Felhasználónév</mat-label>
            <input matInput formControlName="username" type="text">
            <mat-hint>5 és 20 karakter között</mat-hint>
            <mat-error>
              <span>
                A felhasználónévnek 5 és 20 karakter közti hosszúnak kell lennie
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 text-center mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" name="email">
            <mat-error>
              <span>
                Adj meg egy érvényes email címet
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 text-center mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Jelszó</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Legalább 5 karakter</mat-hint>
            <mat-error>
              <span>
                A jelszónak legalább 5 karakter hosszúnak kell lennie
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 text-center mb-2">
          <mat-radio-group (change)="onIsCustomerChange()" formControlName="isCustomer" aria-label="Select an option">
            <mat-radio-button value="true">Fogyasztó</mat-radio-button>
            <mat-radio-button value="false">Termelő</mat-radio-button>
          </mat-radio-group>
        </div>

        <div *ngIf="form.get('isCustomer')?.value == 'false'" class="col-12 text-center mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Teljes név</mat-label>
            <input matInput formControlName="fullName" type="text">
            <mat-hint>5 és 100 karakter között</mat-hint>
            <mat-error>
              <span>
                A teljes névnek 5 és 100 karakter közti hosszúnak kell lennie
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="form.get('isCustomer')?.value == 'false'" class="col-12 text-center mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Adószám</mat-label>
            <input matInput formControlName="taxNumber" type="text">
            <mat-hint>11 számjegy</mat-hint>
            <mat-error>
              <span>
                Az adószámnak 11 számjegynek kell lennie
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="form.get('isCustomer')?.value == 'false'" class="col-12 text-center mb-3">
          <mat-form-field appearance="outline">
            <mat-label>Székhely címe</mat-label>
            <input matInput formControlName="address" type="text">
          </mat-form-field>
        </div>

      </div>
    </form>
  </div>

  <div class="container">
    <div class="text-center mb-4">
      <button class="btn btn-dark w-100" (click)="onSignupClick()" [disabled]="!form.valid || disabledButton">
        <div class="row">
          <div *ngIf="disabledButton" class="col-1">
            <span id="loginButton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </div>
          <div *ngIf="!disabledButton" class="col-1 d-flex align-items-center p-0 justify-content-center">
            <mat-icon>person</mat-icon>
          </div>
          <div class="col-10 text-center">
            {{buttonText}}
          </div>
        </div>
      </button>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mb-3" role="alert">
      {{errorMessage}}
    </div>

    <div *ngIf="success" class="alert alert-success" role="alert">
      Sikeres regisztráció! Kérjük jelentkezz be!
    </div>
  </div>
</div>
